<!DOCTYPE html>
<html>

<head>
    <style>
        div {
            width: 300px;
            border: 15px solid grey;
            padding: 50px;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div>
        <h2>Create New Class </h2>

        <form name="joinclass">
            <label for="subcode">Subject Code:</label>
            <input type="number" id="subcode" name="subcode">
            <br>
            <label for="subname">Subject name:</label>
            <input type="checkbox" id="subname" name="subname" value="Mathematics">
            <br>
            <label for="maths">Mathematics</label>
            <br>
            <input type="checkbox" id="subname" name=subname value="Science">
            <label for="science">Science</label>

            <br>
        </form>
    </div>


</body>

</html>